.admin-panel {
    margin-top: 100px; /* Ajusta este valor según sea necesario */
    padding: 20px;
}

.login-CONTENEDOR2 {
    margin-top: 0px; /* Ajusta este valor según sea necesario */
    padding: 20px;

}
